@import url('./zhuziawan/result.css');

* {
    font-family: '筑紫A丸ゴシック by 宁静之雨', sans-serif;
    font-weight: 400;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
}

label {
    display: inline-block;
    width: 100px;
}

input {
    margin-bottom: 10px;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: #f7cc6f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ec6c5c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    font-size: 14px;
    gap: 20px;
}

footer img {
    vertical-align: middle;
}

footer a {
    text-decoration: none;
    color: #000;
}

#button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap; /* 当宽度不够时自动换行 */
}

#button-container button {
    flex: 1 1 30%; /* 每个按钮占据行宽的30%，但在必要时允许换行 */
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

#document-page {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
